.friend {
    background-color: antiquewhite;
    border: 2px solid pink;
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.friend:hover {
    background-color: yellow;
}