.header {
    text-align: center;
    margin-top: 20px;
}
.active {
    background-color: aquamarine !important;
    color: black;
    font-weight: bold;
}
.header a {
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    background-color: yellow;
    font-weight: bold;
}
.header a:hover {
    background-color: blue;
    color: white;
}

