@media screen and (max-width: 768px) {
    .nav-items{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: -200px;
    }

    .show{
        background-color: blue;
        top: 24px;
        transition: ease-in;
        transition-duration: .5s;
    }
    
    .hide{  
        top: -200px;
        transition: ease-out;
        transition-duration: .5s;
    }
}
