.post {
    padding: 10px;
    width: 400px;
    height: 300px;
    border: 1px solid brown;
    border-radius: 10px;
    margin: 10px;
    background-color: lightgreen;
    text-align: center;
    box-shadow: 1px 1px 2px 2px black;
}
.post a,.post button {
    text-decoration: none;
    margin: 5px;
}